/*
OHSU-themed fonts are:
Lato (headers)
Noto Serif (body)
Fira Code (code; my selection!)
Sofia (script; my selection!)
Author: Alison Presmanes Hill
Updated: 2018-03-22
*/


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);



body { 
  font-family: 'Noto Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1, h2, h3 {
  font-family: 'Lato';
}

.remark-code { 
  font-family: 'Fira Code', 'Inconsolata', 'Lucida Console', Monaco, monospace;
}

.remark-inline-code { 
  font-family: 'Fira Code', 'Inconsolata', 'Lucida Console', Monaco, monospace; 
}

@media print {
  body {
      font-family: 'Noto Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; 
}


.title-slide h2 {
  font-family: 'Sofia';
}


